{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers {% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <span>{{ method }}</span>
            <span>{{ currentTime }}</span>
        </div>
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table text-center table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td class="text-center"><a href="{{ router.urlFor('show', {id: trailer.id}) }}">{{ trailer.title }}</a></td>
                    <td class="text-center"><img src="{{ trailer.image }}"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
