{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }} Movie {% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ router.urlFor('main') }}"><-- back</a>
        <h1 class="text-center">{{ trailer.title }}</h1>
        <img src="{{ trailer.image }}" class="mr-3 float-left"/>
        <p class="">{{ trailer.description }}</p>
        <p>source: <a href="{{ trailer.link }}">{{ trailer.link }}</a></p>
    </div>
{% endblock %}
